/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define EXTEND 3

&lt {
    quick_tap_ms = <200>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        QW_ESC {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
            layers = <0>;
        };

        CAPS_WORD {
            bindings = <&caps_word>;
            key-positions = <28 31>;
            layers = <0>;
        };

        THUMB_DOT {
            bindings = <&kp PERIOD>;
            key-positions = <41 40>;
            layers = <1>;
        };

        LEFTSHIFT {
            bindings = <&kp LSHIFT>;
            key-positions = <14 15>;
            layers = <0>;
        };

        RIGHTSHIFT {
            bindings = <&kp RSHIFT>;
            key-positions = <21 20>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Default layer from 011:
            [0] = LAYOUT(
                 ,-------------------------------------------------------------------------------------------------.
                | Esc  |   Q  |   W  |   F  |   P  |   B  |      |      |   J  |   L  |   U  |   Y  |   '  | Bksp |
                |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
                | Tab  |   A  |   R  |   S  |   T  |   G  |      |      |   M  |   N  |   E  |   I  |   O  |  ;   |
                |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
                | Shift|   Z  |   X  |   C  |   D  |   V  |      |      |   K  |   H  |   ,  |   .  |   /  | Enter|
                |------+------+------+------+------+------+------+------+------+------+------+------|-------------|
                |      |  GUI | Alt  | Ctrl | Shift| Space| Tab/2| Ent  |Bksp/1| Left | Down |  Up  | Right|      |
                `-------------------------------------------------------------------------------------------------'
            ),
        */

        default {
            bindings = <
&kp ESC     &kp Q       &kp W       &kp F        &kp P         &kp B        &kp J      &kp L         &kp U            &kp Y            &kp SQT         &kp BSPC
&kp TAB     &kp A       &kp R       &kp S        &kp T         &kp G        &kp M      &kp N         &kp E            &kp I            &kp O           &kp SEMI
&kp LSHIFT  &mt LGUI Z  &mt LALT X  &mt LCTRL C  &mt LSHIFT D  &mt LCTRL V  &kp K      &mt RSHIFT H  &mt RCTRL COMMA  &mt RALT PERIOD  &mt RGUI SLASH  &kp ENTER
&kp LGUI    &kp LALT    &kp LCTRL   &kp LSHIFT   &kp SPACE     &lt 2 TAB    &kp ENTER  &lt 1 BSPC    &kp LEFT         &kp DOWN         &kp UP          &kp RIGHT
            >;
        };

        lower_layer {
            label = "LOWER";
            bindings = <
&trans  &kp LBKT        &kp N7       &kp N8        &kp N9         &kp RBKT   &kp PG_DN  &kp HOME    &kp UP     &kp END    &kp LS(LG(NUMBER_3))  &trans
&trans  &kp SEMI        &kp N4       &kp N5        &kp N6         &kp EQUAL  &kp CAPS   &kp LEFT    &kp DOWN   &kp RIGHT  &kp INS               &trans
&trans  &mt LGUI GRAVE  &mt LALT N1  &mt LCTRL N2  &mt LSHIFT N3  &kp NUBS   &kp PG_DN  &kp RSHIFT  &kp RCTRL  &kp RALT   &kp RGUI              &trans
&trans  &trans          &trans       &trans        &kp MINUS      &lt 2 N0   &trans     &trans      &trans     &trans     &trans                &trans
            >;
        };

        raise_layer {
            label = "RAISE";
            bindings = <
&trans  &kp C_PREV          &kp C_PP        &kp C_NEXT       &kp C_MUTE        &none          &none   &kp F7         &kp F8        &kp F9       &kp F12       &trans
&trans  &none               &none           &none            &none             &kp LC(SPACE)  &none   &kp F4         &kp F5        &kp F6       &kp F11       &trans
&trans  &mt LGUI LC(LS(Z))  &mt LALT LC(V)  &mt LCTRL LS(C)  &mt LSHIFT LC(X)  &kp LC(Z)      &none   &mt RSHIFT F1  &mt RCTRL F2  &mt RALT F3  &mt RGUI F12  &trans
&trans  &trans              &trans          &trans           &trans            &trans         &trans  &trans         &trans        &trans       &trans        &trans
            >;
        };

        extend_layer {
            label = "EXTEND";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &trans
&trans  &none         &none         &none         &none         &bt BT_CLR    &bt BT_CLR    &none         &none         &none         &none         &trans
&trans  &none         &bt BT_PRV    &sys_reset    &bt BT_NXT    &bootloader   &bootloader   &bt BT_NXT    &sys_reset    &bt BT_PRV    &none         &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };
    };
};
